.welcome {
  font-size: 2.5em;
  background-color: rgb(175, 241, 185);
  color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 6px;
  margin: 0;
}

.login {
  font-size: 2.5em;
  background-color: rgb(232, 123, 123);
  color: rgb(37, 37, 37);
  padding: 10px;
  border-radius: 6px;
  margin: 0;
}