.student {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid rgba(52, 52, 52, 0.8);
  border-radius: 8px;
  margin-bottom: 10px;
}

.student p {
  margin: 0;
}